/* estilos generales */

h1,h2,p{
  text-align: end;
}

/* H1, H2, P DEJAR EN POSICION END A TODOS */

/* tanaños responsive pruebas */


/* main{
  height: 70vh;
  width: 100vw;
}
 */

/* Estilos cabecera */








/* estilos tarjeta  */

.content{
  min-height: 70vh;
  padding: 20px 0;
}
.card-ini{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 5%;
}

.item{
  flex: 0 0 40%; 
  padding: 20px;
  box-sizing: border-box;
}


.img{
  flex: 0 0 20%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}






.card-btn{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-btn a{
  background-color:#30391f;
  text-decoration: none;
  text-transform: uppercase;
  color:#accc7b ;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.8s ease, background-color 0.9s ease;
}
.card-btn a:hover{
  background-color: #998a4c; 
  color: #30391f; 
  box-shadow: 10px 5px 10px #0000007a;
  transform: scale(1.2);
}





/* footer{
  background-color:#668a4c;
  width: 100dvw;
  position:relative;
  bottom: 0;
}

.link-ft{
  text-align: center;
  
}

.link-ft a{
  text-decoration: none;
  margin: 0.5%;
  
}

.ngc{
  text-align: center;
  color:#30391f;
  margin: 0;
  padding-bottom: 1%;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.social-icon svg {
  fill: #30391f; /* Color base */
/*   transition: fill 0.5s ease;
  cursor: pointer; */
/*   margin-top: 2%;
}

.social-icon svg:hover{
  fill: #accc7b;
}
 */
 

/* Hover effects con colores personalizados */
/*  .social-icon.github:hover svg {
  fill: #333; 
}
 */
/* .social-icon.linkedin:hover svg {
  fill: #0077b5; 
} */

/* .social-icon.instagram:hover svg {
  fill: #e1306c;
} */

/* .social-icon.gmail:hover svg {
  fill: #d14836; 
}  */









/* colores */

/* {
  color:#30391f ;
  color:#668a4c ;
  color:#accc7b ;
  color:#464646 ;
  color:#ffffff ;
} */
/* FUENTE MONSERRAT ALTERNATES */

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}
