<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nieves Gómez</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/styles_cv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1, width=device-width">

</head>
<body>
    <header class="header-principal" >
        <div class="header-nav">           
            <nav>
                <a href="sobre-mi.html">Sobre mi</a>
                <a href="cv.html">CV</a>
                <a href="proyectos.html">Proyectos</a>
                <a href="contacto.html">Contacto</a>  
            </nav> 
        </div>
        <p class="crumbs"><a href="index.html">Inicio //</a>cv</p>
    </header>
    <main class="content">
        <a href="index.html" class="return">
            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 24 24" fill="none"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M10 16l-6-6 6-6"/><path d="M20 21v-7a4 4 0 0 0-4-4H5"/></svg>
        </a>
    
       <div class="struct">
        <h2>Formación</h2>
        <section class="education">
            <div class="card ifp">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../imagenes/IFP.png" alt="logo centro formativo ifp">
                        <br>
                        <p>Módulo superior en Administración y finanzas.</p>
                        <p>Centro formativo - IFP Grupo Planeta</p>
                        <p>2017 - 2019</p>
                    </div>
                    <div class="card-back">
                        Formación en gestión empresarial, contabilidad, finanzas, fiscalidad y administración, orientada a la toma de decisiones y optimización de recursos.
                    </div>
                </div>
            </div>
            
            <div class="card keepcoding">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../imagenes/keepcoding.jpg" alt="logo centro formativo keepcoding">
                        <br>
                        <p>Bootcamp Full Stack.</p>
                        <p>Centro formativo - Keepcooding</p>
                        <p>2023</p>
                    </div>
                    <div class="card-back">
                        Capacitación intensiva en desarrollo de aplicaciones completas, combinando interfaces gráficas con Tkinter y aplicaciones web con Flask, integrando lógica, diseño y bases de datos. Con HTML, CSS, JavaScript y Python.
                    </div>
                </div>
            </div>
            <div class="card esla">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="../imagenes/ESLA.jpg" alt="logo centro formativo esla">
                        <br>
                        <p>Certificado de profesionalidad en desarollo web.</p>
                        <p>2025 - Cursando</p>
                    </div>
                    <div class="card-back">
                        IFCD0110
                        Capacitación en diseño, desarrollo y mantenimiento de aplicaciones web, utilizando lenguajes, frameworks y bases de datos para entornos cliente y servidor.
                    </div>
                </div>
            </div>
            
            <section class="courses">
                <div class="course">
                    <div class="logo-course"><img src="../imagenes/42.png" alt="logo 42 madrid" class="logo-img-courses"></div>
                    <div class="text-course">

                        <p>Formación intensiva de las bases de la programación con C.</p>
                        <p> Centro formativo - Fundación telefónica.</p>
                        <p>Julio - 2025</p> 
                    </div>
                </div>
                <div class="course">
                    <div class="logo-course"><img src="../imagenes/42 Madrid - Fundación Telefónica - Piscine Discovery Python - Women's Edition - 2025-07-21.png" alt="logo 42 madrid piscina discovery python" class="logo-img-courses"></div>
                    <div class="text-course">
                        <p>Formación intensiva de las bases de la programación con Python.</p>
                        <p> Centro formativo - Fundación telefónica.</p>
                        <p>Junio - 2025</p> 
                    </div>
                </div>
                <div class="course">
                    <div class="logo-course"><img src="../imagenes/impulso-06.webp" alt="logo 42 madrid piscina discovery python" class="logo-img-courses"></div>
                    <div class="text-course">
                            
                        <p>Gestor de sitios web - Creación de sitios web dinámicos.</p>
                        <p>Centro formativo - Impulso 06</p>
                        <p>2025</p> 
                    </div>
                </div>
            </section>
        </section>

        <section class="experience">
            <div class="intro">
            <p>Tras varios años trabajando en el sector comercial y liderando equipos, decidí dar un giro y meterme de lleno en el mundo del desarrollo. Tengo mucha experiencia tratando con personas, resolviendo problemas y tomando decisiones rápidas. Me encanta aprender cosas nuevas, trabajar en equipo y enfrentarme a retos. Ahora, con una base en programación y muchas ganas de crecer, busco aportar valor desde un enfoque práctico, humano y con mucha energía</p>     
            </div>

            <div class="works">
                <h2>Experiencia</h2>
                <div class="rc">
                    <img src="../imagenes/rc.png" alt="Logo empresa cash hispania s.l">
                    <div>
                        <p>Especialización en la compra y venta de oro y artículos de segunda mano, con conocimientos avanzados en el mercado. Experiencia en planificación, toma de decisiones y comunicación efectiva con diferentes niveles de la organización</p>
                        <p>2016 - 2023 Empresa - Real Cash</p>
                    </div>
                    
                </div>
                <div class="dia"></div>

            </div>
        </section>
        
         
       </div >
    </main>
    <footer>
       <div class="link-ft">
            <a href="https://github.com/NievesGC/" target="_blank" class="social-icon github">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 60 60" fill="currentColor">
                    <path d="M30 0C13.432 0 0 13.431 0 30c0 13.254 8.584 24.506 20.498 28.48 1.498.276 2.048-.65 2.048-1.446 0-.715-.027-2.613-.042-5.13-8.337 1.812-10.097-4.017-10.097-4.017-1.364-3.464-3.33-4.387-3.33-4.387-2.723-1.861.206-1.823.206-1.823 3.008.212 4.592 3.088 4.592 3.088 2.676 4.586 7.022 3.26 8.735 2.494.27-1.94 1.048-3.26 1.905-4.01-6.658-.759-13.657-3.33-13.657-14.82 0-3.274 1.169-5.947 3.088-8.045-.309-.758-1.337-3.814.294-7.953 0 0 2.52-.807 8.253 3.07 2.395-.666 4.968-.998 7.526-1.012 2.555.014 5.13.346 7.53 1.012 5.73-3.877 8.247-3.07 8.247-3.07 1.635 4.139.606 7.195.297 7.953 1.924 2.098 3.084 4.771 3.084 8.045 0 11.523-7.01 14.055-13.688 14.798 1.077.926 2.037 2.742 2.037 5.527 0 3.99-.037 7.212-.037 8.194 0 .802.543 1.735 2.062 1.44C51.424 54.5 60 43.253 60 30 60 13.431 46.568 0 30 0z"/>
                </svg>
            </a>

            <a href="https://www.instagram.com/__r_i_z_o_s__/" target="_blank" class="social-icon instagram" aria-label="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30" height="30" fill="currentColor">
                    <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"/>
                </svg>
            </a>

            <a href="https://www.linkedin.com/in/nieves-g%C3%B3mez-carrasco-1a2586362/" target="_blank" class="social-icon linkedin" aria-label="LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M4.98 3.5C4.98 4.88 3.88 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1 4.98 2.12 4.98 3.5zM.5 8h4V24h-4V8zm7.5 0h3.8v2.3h.05c.53-.99 1.82-2.3 3.75-2.3 4 0 4.7 2.63 4.7 6v9h-4V15c0-2.13-.04-4.87-3-4.87-3.01 0-3.48 2.29-3.48 4.7v9.17h-4V8z"/>
                </svg>
            </a>
            
            <a href="mailto:gomezcarrasconieves@gmail.com" class="social-icon gmail" aria-label="Gmail">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512" fill="currentColor">
                    <path d="M502.3 190.8 327.4 338.6c-14.2 11.8-35.3 11.8-49.5 0L9.7 190.8A48 48 0 0 1 0 155.1V432c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V155.1a48 48 0 0 1-9.7 35.7z"/>
                    <path d="M464 80H48C21.5 80 0 101.5 0 128v27.3L256 336l256-180.7V128c0-26.5-21.5-48-48-48z"/>
                </svg>
            </a>
       </div>
       <p class="ngc">Nieves Gómez Carrasco</p>
    </footer>
</body>
</html>